<div class="jumbotron">
    <header>
        <nav class="navbar bg-dark navbar-dark margin-top mb-4">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <nav>
                    <ul class="navbar-nav p-2">
                        <li class="nav-item pr-4">
                            <a class="nav-link <%= menu_active[0] %> " href="home"><i class="bi bi-house"></i> Home</a>
                        </li>
                        <li class="nav-item pr-4">
                            <a class="nav-link <%= menu_active[1] %>" href="skill"><i class="bi bi-laptop"></i> Skill</a>
                        </li>
                        <li class="nav-item pr-4">
                            <a class="nav-link <%= menu_active[2] %>" href="employment"><i class="bi bi-bank"></i>
                                Employment</a>
                        </li>
                        <li class="nav-item pr-4">
                            <a class="nav-link <%= menu_active[3] %>" href="experience"><i
                                    class="bi bi-pc-display-horizontal"></i>
                                Experience</a>
                        </li>
                        <li class="nav-item pr-4">
                            <a class="nav-link <%= menu_active[4] %>" href="certification"><i
                                    class="bi bi-award-fill"></i>
                                Certification</a>
                        </li>
                        <li class="nav-item pr-4">
                            <a class="nav-link <%= menu_active[5] %>" href="education"><i class="bi bi-book"></i>
                                Education</a>
                        </li>
                        <li class="nav-item pr-4">
                            <a class="nav-link <%= menu_active[6] %>" href="contact"><i class="bi bi-envelope "></i>
                                Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12 text-left">
                <img class="img-fluid rounded" alt="myPhoto" src="images/FrankLobe.png" />
            </div>
            <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
                <address>
                    <div class="row">
                        <div
                            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-lg-left text-md-left text-sm-left text-xl-left">
                            <p class="display-4">
                                Frank Lobe
                            </p>
                            <p class="lead">
                                Senior Application Developer & Architect<br />
                            </p>
                            <p class="lead">
                                Creative technology solutions to complex business problems
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row mb-3">
                                <div
                                    class="font-weight-bold col-xl-1 col-lg-1 col-md-1 col-sm-12 text-xl-right text-lg-right text-md-right text-sm-left">
                                    Telephone:
                                </div>
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-12 text-left">
                                    +1 (647) 220-5623
                                </div>
                            </div>
                            <div class="row">
                                <div
                                    class="font-weight-bold col-xl-1 col-lg-1 col-md-1 col-sm-12 text-xl-right text-lg-right text-md-right text-sm-left">
                                    Email:
                                </div>
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-12 text-left">
                                    frank.lobe@gmail.com
                                </div>
                            </div>
                        </div>
                    </div>
                </address>
                <hr>
                <div class="row align-middle">
                    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-12">
                        <a href="https://www.linkedin.com/in/franklobe/" target="_blank"><img class="img-fluid mt-3"
                                alt="LinkedIn" src="images/LinkedIn.png" /></a>
                    </div>
                    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-12">
                        <a href="https://www.kaggle.com/franklobe" target="_blank"><img class="img-fluid mt-3"
                                alt="Kaggle" src="images/Kaggle.png" /></a>
                    </div>
                    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-12">
                        <a href="https://github.com/FrankLobe/" target="_blank"><img class="img-fluid mt-3" alt="GitHub"
                                src="images/Github.png" /></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>